<header>
  <nav id="navigation" class="">
      <ul class="nav navbar-nav-auth ">
          <li class="nav-item messsage nav-link"> <%= cta %> </li>
          <%= link_to button_text, path, class: "nav-link nav-link-btn btn-style1" %>
      </ul>
  </nav>
</header>
