<div class=" Auth-lft-sec signIn-lft-sec">  
  <span class="signIn-logo">
    <%= image_tag('/assets/investor/investor-logo.png', class: "img") %>
  </span>

  <div class="signIn-message">
    <h2 class="p-0"> GROW YOUR INVESTMENT PIPELINE </h2>
    <p>
      Dealflow, powered by SmartZip, is the leading deal origination solution for real estate investors. Experience one easy platform allowing you to target high return opportunities, market to potential sellers, and build relationships to convert opportunities into deals.
    </p>
  </div>

  <%= link_to "Get Started Now", new_user_session_path, class: "btn btn-style2-revers", remote: true %>
</div>
