<tr>
  <td colspan="2" height="38" style="padding-left:12px; height:38px;">
    <span style="font-family: Arial, Helvetica,sans-serif;  font-weight:bold; font-size:16px; line-height:20px;">
    	<br/><div style="color:#373737;">Password Reset Instructions</div>
    </span>
  </td>
</tr>
<tr>
  <td colspan="2">
    <table border="0" cellpadding="15" cellspacing="0">
      <tbody>
      <tr>
        <td width="670">

          <p>Hi <%= @resource.email %>!</p>

          <p>Someone has requested a link to change your password. You can do this through the link below.</p>

          <!-- CTA -->
          <table valign="middle" style="border-radius:2px;margin-top:30px;margin-bottom:30px;" width="200" align="center" height="42" bgcolor="#f0ad4e" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td style="font-size:1px; line-height:1px;" align="center" height="9">&nbsp;</td>
            </tr>
            <tr>
              <td valign="middle" align="center" height="14">
                <%= link_to 'CHANGE PASSWORD', edit_password_url(@resource, reset_password_token: @token), style: "font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; text-align: center; line-height: 14px; letter-spacing: 1px;text-decoration: none;" %>
              </td>
            </tr>
            <tr>
              <td style="font-size:1px; line-height:1px;" align="center" height="9">&nbsp;</td>
            </tr>
            </tbody>
          </table>
          <!-- end of CTA -->

          <p>If you didn't request this, please ignore this email.</p>
          <p>Your password won't change until you access the link above and create a new one.</p>

          <p>Regards,</p>
          <p>Your SmartTargeting team.</p>

        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>